{% extends "main.html.jinja" %}

{% block content %}

<!-- Send a message modal -->
{% include "modals/send_message.html.jinja" %}

<!-- Send a credential offer modal -->
{% include "modals/send_cred_offer.html.jinja" %}

<!-- Send a proof request modal -->
{% include "modals/send_proof_req.html.jinja" %}

<section class="card shadow-sm border-0 rounded">
    <div class="card-header bg-appcolor">
        <h2 class="card-title px-2 text-white">{{ connection.connection_id }}</h2>
    </div>
    <div class="card-body">

        <!-- General properties about the connection -->
        {% include "sections/properties.html.jinja" %}

        <!-- Credentials section -->
        {% include "sections/credentials.html.jinja" %}

        <!-- Proofs section -->
        {% include "sections/proofs.html.jinja" %}

        <!-- Messages section -->
        {% include "sections/messages.html.jinja" %}
    </div>
</section>

{% endblock %}