<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ name }}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href={{ url_for("static", filename="style.css") }}>
    </head>

    <body class="d-flex flex-column bg-secondary bg-opacity-10">

        <!-- Connection creation modal -->
        {% include "modals/create_conn.html.jinja" %}

        <!-- DID creation modal -->
        {% include "modals/create_did.html.jinja" %}

        <!-- Page header -->
        <header class="w-100 bg-appcolor px-4 py-2">
            <h1 class="h1 text-white">{{ name }}</h1>
        </header>

        <!-- Page content -->
        <div class="container-flex m-4">

            <!-- Alert display -->
            <div id="alertPlaceholder"></div>

            <div class="row g-4">

                <!-- Main content (connections) -->
                <div class="col-lg-8">
                    <div class="w-100">
                        {% include "sections/connections.html.jinja" %}
                        <hr class="shadow-sm my-4">
                    </div>
                    {% block content %}
                    <p class="text-center">Select one connection in the connections list above to display detailed information.</p>
                    {% endblock %}
                </div>

                <!-- Side content (DIDs) -->
                <aside class="col-lg-4">
                    {% include "sections/dids.html.jinja" %}
                </aside>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src={{ url_for("static", filename="functions.js") }}></script>
    </body>
</html>