.bg-appcolor {
    background-color: #4682b4;
}

.btn-appcolor {
    --bs-btn-color: #fff;
    --bs-btn-bg: #4682b4;
    --bs-btn-border-color: #4682b4;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3f75a2;
    --bs-btn-hover-border-color: #386890;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #386890;
    --bs-btn-active-border-color: #386890;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-outline-appcolor {
    --bs-btn-color: #4682b4;
    --bs-btn-border-color: #4682b4;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4682b4;
    --bs-btn-hover-border-color: #4682b4;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4682b4;
    --bs-btn-active-border-color: #4682b4;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-gradient: none;
}