<section class="card shadow-sm border-0 rounded">
    <div class="card-header bg-appcolor">
        <h2 class="card-title px-2 text-white">Connections</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive mb-2">
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">State</th>
                        <th scope="col">RFC23 State</th>
                        <th scope="col">Creation date</th>
                        <th scope="col">Last update</th>
                    </tr>
                </thead>
                <tbody id="connections">
                    {% for conn in connections %}
                    {% if conn[0] == connection.connection_id %}
                    <tr id="{{conn[0]}}" class="table-active">
                    {% else %}
                    <tr id="{{conn[0]}}">
                    {% endif %}
                        <td>{{ conn[0] }}
                        <td>{{ conn[1] }}
                        <td>{{ conn[2] }}
                        <td>{{ conn[3] }}
                        <td>{{ conn[4] }}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Open the "Connection creation" modal -->
        <div class="d-flex flex-row-reverse">
            <button type="button" class="btn btn-outline-appcolor" data-bs-toggle="modal" data-bs-target="#createConn"><i class="bi bi-plus-lg"></i></button>
        </div>
    </div>
</section>