<div class="card rounded mb-4">
    <div class="card-body">
        <h3 class="card-title mb-4">Credentials</h3>
        <div class="table-responsive mb-2">
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">State</th>
                        <th scope="col">Creation date</th>
                        <th scope="col">Last update</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cred in credentials %}
                    <tr>
                        <td>{{ cred.id }}</td>
                        <td>{{ cred.state }}</td>
                        <td>{{ cred.created_at }}</td>
                        <td>{{ cred.updated_at }}</td>
                        <td>
                        {% if cred.state == "offer-received" %}
                            <button type="button" class="btn btn-sm btn-warning mb-1" onclick='requestCredential("{{ cred.id }}")'>Request</button>
                        {% elif cred.state == "request-received" %}
                            <button type="button" class="btn btn-sm btn-success mb-1" onclick='issueCredential("{{ cred.id }}")'>Issue</button>
                        {% elif cred.state == "credential-received" %}
                            <button type="button" class="btn btn-sm btn-success mb-1" onclick='storeCredential("{{ cred.id }}")'>Store</button>
                        {% endif %}
                            <button type="button" class="btn btn-sm btn-appcolor mb-1" onclick='displayRawCredentialInNewTab("{{ cred.id }}")'>Get JSON</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex flex-row-reverse">
            <button type="button" class="btn btn-outline-appcolor ms-2" data-bs-toggle="modal" data-bs-target="#sendCredOffer"><i class="bi bi-credit-card-2-front"></i></button>
        </div>
    </div>
</div>