<div class="card shadow-sm border-0 rounded">
    <div class="card-header bg-appcolor">
        <h2 class="card-title px-2 text-white">Available DIDs</h2>
    </div>
    <div class="card-body">
        <ul class="list-group ps-0 mb-2">
        {% for did in dids %}
            <li class="list-group-item">
                <dl class="mb-0">
                    <div><dt class="d-inline me-2">DID:</dt><dd class="d-inline">{{ did.did }}</dd></div>
                    <div><dt class="d-inline me-2">Verkey:</dt><dd class="d-inline">{{ did.verkey }}</dd></div>
                    <div><dt class="d-inline me-2">Key type:</dt><dd class="d-inline">{{ did.key_type }}</dd></div>
                    <div><dt class="d-inline me-2">Method:</dt><dd class="d-inline">{{ did.method }}</dd></div>
                    <div><dt class="d-inline me-2">Public:</dt><dd class="d-inline">{{ "true" if did.posture == "posted" else "false" }}</dd></div>
                </dl>
                <div class="d-flex flex-row-reverse">
                    <button type="button" class="btn btn-appcolor btn-sm ms-2" onclick='navigator.clipboard.writeText("{{ did.did }}")'>Copy</button>
                    {% if did.posture != "posted" %}
                    <button type="button" class="btn btn-success btn-sm" onclick='publishDID("{{ did.did }}")'>Publish</button>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
        </ul>
        <div class="d-flex flex-row-reverse">
            <button type="button" class="btn btn-outline-appcolor" data-bs-toggle="modal" data-bs-target="#createDID"><i class="bi bi-plus-lg"></i></button>
        </div>
    </div>
</div>