<div class="card rounded">
    <div class="card-body">
        <h3 class="card-title mb-4">Messages</h3>
        <div class="table-responsive mb-2">
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">State</th>
                        <th scope="col">Content</th>
                    </tr>
                </thead>
                <tbody>
                    {% for msg in messages %}
                    <tr>
                        <td>{{ msg[0] }}</td>
                        <td>{{ msg[1] }}</td>
                        <td>{{ msg[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex flex-row-reverse">
            <button type="button" class="btn btn-outline-appcolor" data-bs-toggle="modal" data-bs-target="#sendMsg"><i class="bi bi-envelope-plus"></i></button>
        </div>
    </div>
</div>