<section class="card rounded mb-4">
    <div class="card-body">
        <h3 class="card-title mb-4">Properties</h3>
        <div class="d-flex flex-wrap">
        {% for key, value in connection.items() %}
            <p class="me-3"><span class="bg-secondary rounded-start p-1 text-white bg-opacity-75">{{key | capitalize | replace("_", " ") }}</span><span class="rounded-end bg-secondary p-1 bg-opacity-10">{{ value }}</span></p>
        {% endfor %}
        </div>

        <input type="text" value='{{ raw | safe }}' id="raw-conn" class="invisible d-none">
        <div class="d-flex flex-row-reverse">
            <button type="button" class="btn btn-appcolor ms-2" onclick='displayRawConnectionInNewTab()'><i class="bi bi-download"></i> Get JSON</button>
            {% if connection.rfc23_state  == "invitation-received"%}
            <button type="button" class="btn btn-warning ms-2" onclick='acceptInvitation("{{ connection.connection_id }}")'>Accept Invitation</button>
            {% elif connection.rfc23_state == "request-received" %}
            <button type="button" class="btn btn-success ms-2" onclick='acceptConnectionRequest("{{ connection.connection_id }}")'>Accept Connection</button>
            {% endif %}
        </div>
    </div>
</section>