<div class="modal fade" id="createConn" tabindex="-1" aria-labelledby="createConnLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createConnLabel">Create connection</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeConnModalBtn"></button>
            </div>
            <div class="modal-body">
                <div class="btn-group d-flex justify-content-center" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="radio" class="btn-check" name="newConnection" id="create" autocomplete="off" onclick="createInvitation()">
                    <label class="btn btn-outline-appcolor" for="create">Create invitation</label>

                    <input type="radio" class="btn-check" name="newConnection" id="receive" autocomplete="off" onclick="toggleInvitationReceive()">
                    <label class="btn btn-outline-appcolor" for="receive">Receive invitation</label>
                </div>
                <div class="d-none invisible my-3">
                    <label for="generatedInvitation" class="form-label">Copy and send the following invitation to the other participant:</label>
                    <textarea class="form-control" id="generatedInvitation" rows="15" readonly></textarea>
                </div>
                <form class="d-none invisible my-3">
                    <label for="receivedInvitation" class="form-label">Paste the invitation here:</label>
                    <textarea class="form-control" id="receivedInvitation" rows="15"></textarea>
                    <button type="button" class="btn btn-success mt-2 w-100" id="rcvInvitationBtn" onclick="receiveInvitation()">Load</button>
                </form>
            </div>
        </div>
    </div>
</div>