<div class="modal fade" id="createDID" tabindex="-1" aria-labelledby="createDIDLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createDIDLabel">Create DID</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeDIDModalBtn"></button>
            </div>
            <div class="modal-body">
                <div id="modalErrorPlaceHolder"></div>
                <form id="didForm">
                    <div class="input-group mb-2">
                        <label class="input-group-text w-25" for="inputSelectMethod">Method</label>
                        <select class="form-select" id="inputSelectMethod" name="inputSelectMethod">
                            <option selected value="sov">Sovrin</option>
                            <option value="key">Key</option>
                        </select>
                    </div>
                    <div class="input-group mb-2">
                        <label class="input-group-text w-25" for="inputSelectKeyType">Key type</label>
                        <select class="form-select" id="inputSelectKeyType" name="inputSelectKeyType">
                            <option selected value="ed25519">ed25519</option>
                            <option value="bls12381g2">bls12381g2</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success mt-2 w-100">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>