<div class="modal fade" id="sendCredOffer" tabindex="-1" aria-labelledby="sendCredOfferLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendCredOfferLabel">Send credential offer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeModalBtn"></button>
            </div>
            <div class="modal-body">
                <form id="credentialForm">
                    <h4 class="h4">Permanent Resident credential</h4>
                    <div class="mb-3">
                        <label for="givenNameInput" class="form-label">Given name</label>
                        <input type="text" class="form-control" id="givenNameInput" required>
                    </div>
                    <div class="mb-3">
                        <label for="familyNameInput" class="form-label">Family name</label>
                        <input type="text" class="form-control" id="familyNameInput" required>
                    </div>
                    <div class="mb-3">
                        <label for="birthCountryInput" class="form-label">Birth country</label>
                        <input type="text" class="form-control" id="birthCountryInput" required>
                    </div>
                    <div class="mb-3">
                        <label for="birthDateInput" class="form-label">Birth date</label>
                        <input type="date" class="form-control" id="birthDateInput" required>
                    </div>
                    <div class="mb-3">
                        <label for="issuerDIDInput" class="form-label">Issuer DID</label>
                        <select name="issuerDIDInput" id="issuerDIDInput" class="form-control" required>
                        {% for did in dids %}
                            <option value="{{ did.did }}">{{did.did}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="holderDIDInput" class="form-label">Holder DID</label>
                        <input type="text" class="form-control" id="holderDIDInput" name="holderDIDInput">
                        <div id="holderDIDHelp" class="form-text">If not set, uses the DID attached to the current connection.</div>
                    </div>
                    <button id="submitCredBtn" type="submit" class="btn btn-success mt-2 w-100" data-conn-id="{{ connection.connection_id }}">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>