<div class="modal fade" id="sendMsg" tabindex="-1" aria-labelledby="sendMsgLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendMsgLabel">Send message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeModalBtn"></button>
            </div>
            <div class="modal-body">
                <label for="msgContent" class="form-label">Content of the message:</label>
                <textarea class="form-control" id="msgContent" rows="15"></textarea>
                <button type="button" class="btn btn-success mt-2 w-100" onclick='sendMessage("{{ connection.connection_id }}")'>Send</button>
            </div>
        </div>
    </div>
</div>