<div class="modal fade" id="sendProofReq" tabindex="-1" aria-labelledby="sendProofReqLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendProofReqLabel">Send proof request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeSendProofReqModalBtn"></button>
            </div>
            <div class="modal-body">
                <form id="proofForm">
                    <h4 class="h4">Enforce values</h4>
                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Control if given name is required or not">
                        </div>
                        <label for="givenNameInput" class="input-group-text">Given name</label>
                        <input type="text" class="form-control" id="givenNameInput" placeholder="Optional required value" disabled>
                    </div>
                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Control if family name is required or not">
                        </div>
                        <label for="familyNameInput" class="input-group-text">Family name</label>
                        <input type="text" class="form-control" id="familyNameInput" placeholder="Optional required value" disabled>
                    </div>
                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Control if birth country is required or not">
                        </div>
                        <label for="birthCountryInput" class="input-group-text">Birth country</label>
                        <input type="text" class="form-control" id="birthCountryInput" placeholder="Optional required value" disabled>
                    </div>
                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Control if birth date is required or not">
                        </div>
                        <label for="birthDateInput" class="input-group-text">Birth date</label>
                        <input type="date" class="form-control" id="birthDateInput" disabled>
                    </div>
                    <button id="submitProofReqBtn" type="submit" class="btn btn-success mt-2 w-100" data-conn-id="{{ connection.connection_id }}">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>